@charset "utf-8";
@font-face {
	font-family: 'OpenSans';
	src: local('?'), url('../fonts/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSansBold';
	src: local('?'), url('../fonts/OpenSans-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSansItalic';
	src: local('?'), url('../fonts/OpenSans-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSansLight';
	src: local('?'), url('../fonts/OpenSans-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body{ font-family: 'OpenSans'; background:#fff; margin-top: 0;}

h1, h1 {
	font-size:17pt;
	line-height: 27px; 
	font-family:'SourceSansPro';
}
h2, h2 {
	font-size:15pt;
	line-height: 27px; 
	margin-top:0;
}
h3, h3 {
	font-size:15pt;
	line-height: 27px;}
h4, h4 {
	font-size: 1.4em;
	font-family:'OpenSansBold';
}
h5, h5 {
	font-size: 10pt;
	font-family: 'SourceSansPro';
}
p, p {
	font-size: 11.5pt; color:#6A6A6B;
}
li {
	list-style: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #a6a6a6;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #a6a6a6;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #a6a6a6;
}
:-moz-placeholder { /* Firefox 18- */
  color: #a6a6a6;
}
::selection {
    background-color: #da2f17;
    color: #ffffff;
}

#ui-datepicker-div { z-index: 999 !important;}

section p{ font-family:'OpenSans'; margin-bottom:0; }
a:hover{ text-decoration:none;}
span.required, .error{color:#ff0000;}
span.required{font-size:10px;}
.error{font-size:12px;}

.text-white{color:#fff;}
.padding-left-zero{padding-left:0;}
.padding-right-zero{padding-right:0;}
.padding-left-right-zero{padding-left:0; padding-right:0;}

  /* ========================== loader =========================== */
.loader{
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom: 0;
    z-index:11000;
    background-color:#fff;
    overflow: hidden;
}

#loader {
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 50%;
    width: 90px;
}
#loader ul {
    margin: 0;
    list-style: none;
    width: 90px;
    position: relative;
    padding: 0;
    height: 10px;
}
#loader ul li:nth-child(odd){
    background-color: #74a534;
}
#loader ul li:nth-child(even){
    background-color:  #07aaa5;
}
#loader ul li {
    position: absolute;
    width: 2px;
    height: 0;

    bottom: 0;
}
@-webkit-keyframes sequence1 {
    0% {
        height: 10px;
    }
    50% {
        height: 50px;
    }
    100% {
        height: 10px;
    }
}
@keyframes sequence1 {
    0% {
        height: 10px;
    }
    50% {
        height: 50px;
    }
    100% {
        height: 10px;
    }
}
@-webkit-keyframes sequence2 {
    0% {
        height: 20px;
    }
    50% {
        height: 65px;
    }
    100% {
        height: 20px;
    }
}
@keyframes sequence2 {
    0% {
        height: 20px;
    }
    50% {
        height: 65px;
    }
    100% {
        height: 20px;
    }
}
#loader li:nth-child(1) {
    left: 0;
    -webkit-animation: sequence1 1s ease infinite ;
    animation: sequence1 1s ease infinite ;
}
#loader li:nth-child(2) {
    left: 15px;
    -webkit-animation: sequence2 1s ease infinite 0.1s;
    animation: sequence2 1s ease infinite 0.1s;
}
#loader li:nth-child(3) {
    left: 30px;
    -webkit-animation: sequence1 1s ease-in-out infinite 0.2s;
    animation: sequence1 1s ease-in-out infinite 0.2s;
}
#loader li:nth-child(4) {
    left: 45px;
    -webkit-animation: sequence2 1s ease-in infinite 0.3s;
    animation: sequence2 1s ease-in infinite 0.3s;
}
#loader li:nth-child(5) {
    left: 60px;
    -webkit-animation: sequence1 1s ease-in-out infinite 0.4s;
    animation: sequence1 1s ease-in-out infinite 0.4s;
}
#loader li:nth-child(6) {
    left: 75px;
    -webkit-animation: sequence2 1s ease infinite 0.5s;
    animation: sequence2 1s ease infinite 0.5s;
}




@keyframes cssload-invert {
    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

@-webkit-keyframes cssload-invert {
    100% {
        -webkit-transform: rotate(180deg);
    }
}

@keyframes cssload-ball1 {
    12% {
        -webkit-transform: none;
        transform: none;
    }
    26% {
        -webkit-transform: translateX(25%) scale(1, 0.8);
        transform: translateX(25%) scale(1, 0.8);
    }
    40% {
        -webkit-transform: translateX(50%) scale(0.8, 0.8);
        transform: translateX(50%) scale(0.8, 0.8);
    }
    60% {
        -webkit-transform: translateX(50%) scale(0.8, 0.8);
        transform: translateX(50%) scale(0.8, 0.8);
    }
    74% {
        -webkit-transform: translate(50%, 25%) scale(0.6, 0.8);
        transform: translate(50%, 25%) scale(0.6, 0.8);
    }
    88% {
        -webkit-transform: translate(50%, 50%) scale(0.6, 0.6);
        transform: translate(50%, 50%) scale(0.6, 0.6);
    }
    100% {
        -webkit-transform: translate(50%, 50%) scale(0.6, 0.6);
        transform: translate(50%, 50%) scale(0.6, 0.6);
    }
}

@-webkit-keyframes cssload-ball1 {
    12% {
        -webkit-transform: none;
    }
    26% {
        -webkit-transform: translateX(25%) scale(1, 0.8);
    }
    40% {
        -webkit-transform: translateX(50%) scale(0.8, 0.8);
    }
    60% {
        -webkit-transform: translateX(50%) scale(0.8, 0.8);
    }
    74% {
        -webkit-transform: translate(50%, 25%) scale(0.6, 0.8);
    }
    88% {
        -webkit-transform: translate(50%, 50%) scale(0.6, 0.6);
    }
    100% {
        -webkit-transform: translate(50%, 50%) scale(0.6, 0.6);
    }
}

@keyframes cssload-ball2 {
    12% {
        -webkit-transform: none;
        transform: none;
    }
    26% {
        -webkit-transform: translateX(25%) scale(1, 0.8);
        transform: translateX(25%) scale(1, 0.8);
    }
    40% {
        -webkit-transform: translateX(50%) scale(0.8, 0.8);
        transform: translateX(50%) scale(0.8, 0.8);
    }
    60% {
        -webkit-transform: translateX(50%) scale(0.8, 0.8);
        transform: translateX(50%) scale(0.8, 0.8);
    }
    74% {
        -webkit-transform: translate(50%, -25%) scale(0.6, 0.8);
        transform: translate(50%, -25%) scale(0.6, 0.8);
    }
    88% {
        -webkit-transform: translate(50%, -50%) scale(0.6, 0.6);
        transform: translate(50%, -50%) scale(0.6, 0.6);
    }
    100% {
        -webkit-transform: translate(50%, -50%) scale(0.6, 0.6);
        transform: translate(50%, -50%) scale(0.6, 0.6);
    }
}

@-webkit-keyframes cssload-ball2 {
    12% {
        -webkit-transform: none;
    }
    26% {
        -webkit-transform: translateX(25%) scale(1, 0.8);
    }
    40% {
        -webkit-transform: translateX(50%) scale(0.8, 0.8);
    }
    60% {
        -webkit-transform: translateX(50%) scale(0.8, 0.8);
    }
    74% {
        -webkit-transform: translate(50%, -25%) scale(0.6, 0.8);
    }
    88% {
        -webkit-transform: translate(50%, -50%) scale(0.6, 0.6);
    }
    100% {
        -webkit-transform: translate(50%, -50%) scale(0.6, 0.6);
    }
}

@keyframes cssload-ball3 {
    12% {
        -webkit-transform: none;
        transform: none;
    }
    26% {
        -webkit-transform: translateX(-25%) scale(1, 0.8);
        transform: translateX(-25%) scale(1, 0.8);
    }
    40% {
        -webkit-transform: translateX(-50%) scale(0.8, 0.8);
        transform: translateX(-50%) scale(0.8, 0.8);
    }
    60% {
        -webkit-transform: translateX(-50%) scale(0.8, 0.8);
        transform: translateX(-50%) scale(0.8, 0.8);
    }
    74% {
        -webkit-transform: translate(-50%, 25%) scale(0.6, 0.8);
        transform: translate(-50%, 25%) scale(0.6, 0.8);
    }
    88% {
        -webkit-transform: translate(-50%, 50%) scale(0.6, 0.6);
        transform: translate(-50%, 50%) scale(0.6, 0.6);
    }
    100% {
        -webkit-transform: translate(-50%, 50%) scale(0.6, 0.6);
        transform: translate(-50%, 50%) scale(0.6, 0.6);
    }
}

@-webkit-keyframes cssload-ball3 {
    12% {
        -webkit-transform: none;
    }
    26% {
        -webkit-transform: translateX(-25%) scale(1, 0.8);
    }
    40% {
        -webkit-transform: translateX(-50%) scale(0.8, 0.8);
    }
    60% {
        -webkit-transform: translateX(-50%) scale(0.8, 0.8);
    }
    74% {
        -webkit-transform: translate(-50%, 25%) scale(0.6, 0.8);
    }
    88% {
        -webkit-transform: translate(-50%, 50%) scale(0.6, 0.6);
    }
    100% {
        -webkit-transform: translate(-50%, 50%) scale(0.6, 0.6);
    }
}

@keyframes cssload-ball4 {
    12% {
        -webkit-transform: none;
        transform: none;
    }
    26% {
        -webkit-transform: translateX(-25%) scale(1, 0.8);
        transform: translateX(-25%) scale(1, 0.8);
    }
    40% {
        -webkit-transform: translateX(-50%) scale(0.8, 0.8);
        transform: translateX(-50%) scale(0.8, 0.8);
    }
    60% {
        -webkit-transform: translateX(-50%) scale(0.8, 0.8);
        transform: translateX(-50%) scale(0.8, 0.8);
    }
    74% {
        -webkit-transform: translate(-50%, -25%) scale(0.6, 0.8);
        transform: translate(-50%, -25%) scale(0.6, 0.8);
    }
    88% {
        -webkit-transform: translate(-50%, -50%) scale(0.6, 0.6);
        transform: translate(-50%, -50%) scale(0.6, 0.6);
    }
    100% {
        -webkit-transform: translate(-50%, -50%) scale(0.6, 0.6);
        transform: translate(-50%, -50%) scale(0.6, 0.6);
    }
}

@-webkit-keyframes cssload-ball4 {
    12% {
        -webkit-transform: none;
    }
    26% {
        -webkit-transform: translateX(-25%) scale(1, 0.8);
    }
    40% {
        -webkit-transform: translateX(-50%) scale(0.8, 0.8);
    }
    60% {
        -webkit-transform: translateX(-50%) scale(0.8, 0.8);
    }
    74% {
        -webkit-transform: translate(-50%, -25%) scale(0.6, 0.8);
    }
    88% {
        -webkit-transform: translate(-50%, -50%) scale(0.6, 0.6);
    }
    100% {
        -webkit-transform: translate(-50%, -50%) scale(0.6, 0.6);
    }
}




/* for index 2 only */
.loader.second{
    background:-webkit-gradient(linear, 0% 0%, 100% 0%, from(#d635d6), to(#ff364f));
}
.loader.second #loader ul li{
    background-color: #FFFFFF;
}
/* for index 2 only */
/* ========================== loader =========================== */
/* for index 3 only */
.loader.third{
    background:-webkit-gradient(linear, 0% 0%, 100% 0%, from(#43a1d8), to(#3ce850))
}
.loader.third #loader ul li{
    background-color: #FFFFFF;
}
/* for index 4 only */
/* ========================== loader =========================== */
/* for index 4 only */
.loader.fourth{

    background:-webkit-gradient(linear, 0% 0%, 100% 0%, from(#eb8416), to(#ed2371))
}
.loader.fourth #loader ul li{
    background-color: #FFFFFF;
}
/* for index 4 only */
/* ========================== loader =========================== */

/*##################################################################*/
/****************** Loader CSS Ends ******************/
/*##################################################################*/

h1.darkBg{font:3em 'OpenSansLight';}
h2.darkBg{font:2.5em 'OpenSansLight';}
h1.darkBg, h2.darkBg{color:#fff; position: relative; margin-bottom:40px;}
h1.darkBg:after, h2.darkBg:after{content: " "; width: 180px; height: 3px; position: absolute; left: 42%; bottom: -15px; background-color: #da2f17;}


.owl-theme .owl-controls .owl-page span{
    background: transparent;
    border: 0px solid #fff;
    margin: 5px;
}

.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 10px !important;
    height: 10px !important;
    margin: 5px  !important;
    filter: Alpha(Opacity=1) !important;
    opacity: 1 !important;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #fff !important;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    background: #da2f17 !important;
}
/*###################################*/
/*CSS for Animated Social Media Icons*/
/*###################################*/

.social-icons{margin:30px 0;}
.social-icons ul{margin:0; padding:3px 0 0 10px;}
.social-icons li{float:left;}
.social-icons li a{height:14px; width:20px; display:block; color:#fff;}
.social-icons li a.fb-icon:hover{color:#3b5998;}
.social-icons li a.twitter-icon:hover{color:#00bdec;}
.social-icons li a.gplus-icon:hover{color:#dd4d4d;}
.social-icons li a.linkedin-icon:hover{color:#1b92bd;}

.social-icons [class*=ico-]{display:inline-block; width:30px; height:30px; overflow:hidden;}
.social-icons [class*=ico-] a{display:block; width:30px; text-align:center; color:#fff}

.social-icons [class*=ico-] a{
  margin-top:0;
  animation-name:flipin;
  animation-duration:.5s;
  animation-direction:alternate;
}
.social-icons [class*=ico-] a:hover{
  margin-top:-30px;
  animation-name:flipout;
  animation-duration:.5s;
  animation-direction:alternate;
}
.social-icons [class*=ico-] a p{font-size:inherit; margin:0; color:inherit; padding:5px 0;}
.social-icons [class*=ico-] a p.anch1{background:#333333;}
.social-icons [class*=ico-] a p.anch2{background:#3b5998;}
.social-icons [class*=ico-] a p.anch3{background:#00bdec;}
.social-icons [class*=ico-] a p.anch4{background:#c4302b;}
.social-icons [class*=ico-] a p.anch5{background:#b8242a;}
.social-icons [class*=ico-] a p.anch6{background:#dd4d4d;}
.social-icons [class*=ico-] a p.anch7{background:#1b92bd;}


@keyframes flipin
{
  0%{margin:0px; transform:translate(0px,-30px);}
  100%{margin:0px; transform:translate(0px,0px);}
}
@keyframes flipout
{
  0%{margin:0px; transform:translate(0px,0px);}
  100%{margin:0px; transform:translate(0px,-30px);}
}

/*###################################*/

.headTopBg{background:#ea2e44;}

/*####################################################*/
/* Media Quries */
/*####################################################*/

@media (min-width: 768px) {
  
}

@media(min-width:1441px){
	
}

@media(min-width:1700px){

}

@media(max-width:1600px){

}

@media(max-width:1440px){

}

@media(max-width:1367px){

}

@media(max-width:1280px){

}
@media(max-width:1024px) {
	
}

/* //////////////////////////////////////////////////////// */
@media only screen and (min-width:768px) and (max-width:1023px) {

	
}

/* //////////////////////////////////////////////////////// */
@media only screen and (min-width:500px) and (max-width:767px){

   
}
/* //////////////////////////////////////////////////////// */
@media only screen and (min-width:500px) and (max-width:640px) {

}

/* //////////////////////////////////////////////////////// */
@media screen and (max-width: 600px) {

}

/* //////////////////////////////////////////////////////// */
@media only screen and (min-width:321px) and (max-width:499px) {

	h1.darkBg:after, h1.lightBg:after, h2.darkBg:after{content: " "; width: 180px; height: 3px; position: absolute; left: 27%; bottom: -15px; background-color: #da2f17;}
  .section2Bg-opacity{background-color:rgba(29, 37, 54, 0.9); padding:50px 0;}

}
	

/* //////////////////////////////////////////////////////// */
@media only screen and (min-width:360px) and (max-width:640px) {
  
}

/* //////////////////////////////////////////////////////// */
@media(max-width:360px){
	
}
